torch==2.1.2
huggingface-hub
packaging==24.0
colossalai>=0.4.0
autoflake==2.2.1
black==23.9.1
transformers>=4.39.3
tensorboard==2.14.0
six==1.16.0
datasets
ninja==1.11.1
flash-attn
tqdm
sentencepiece==0.1.99
protobuf<=3.20.0
