[submodule "inference"]
	path = inference
	url = https://github.com/hpcaitech/EnergonAI.git
	branch = main
[submodule "examples/tutorial/fastfold/FastFold"]
	path = examples/tutorial/fastfold/FastFold
	url = https://github.com/hpcaitech/FastFold
[submodule "colossalai/kernel/cuda/cutlass"]
	path = colossalai/kernel/cuda/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "colossalai/kernel/cuda_infer_kernels/cutlass"]
	path = colossalai/kernel/cuda_infer_kernels/cutlass
	url = https://github.com/NVIDIA/cutlass
