torch<2.0.0, >=1.12.1
packaging==23.1
colossalai==0.3.5
autoflake==2.2.1
black==23.9.1
transformers==4.33.3
tensorboard==2.14.0
six==1.16.0
datasets
ninja==1.11.1
flash-attn>=2.0.0,<=2.0.5
tqdm
sentencepiece==0.1.99
protobuf<=3.20.0
