transformers>=4.20.1
tqdm
datasets
torch<2.0.0, >=1.12.1
langchain==0.0.284
tokenizers
modelscope==1.9.0
sentencepiece==0.1.99
gpustat
sqlalchemy
pytest
# coati install from ../Chat
sentence-transformers
chromadb==0.4.9
openai #used for chatgpt please install directly from openai repo
tiktoken