transformers==4.39.3
tqdm
datasets==2.14.7
loralib
colossalai>=0.4.0
torch>=2.1.0
langchain
tokenizers
fastapi
sse_starlette
wandb
sentencepiece
gpustat
packaging
autoflake==2.2.1
black==23.9.1
tensorboard
six==1.16.0
datasets
ninja==1.11.1
sentencepiece==0.1.99
flash-attn
tiktoken
