transformers==4.34.1
huggingface_hub==0.17.3
tqdm
datasets
loralib
colossalai>=0.3.6
torch>=1.12.1
langchain
tokenizers
fastapi
sse_starlette
wandb
sentencepiece
gpustat
packaging
autoflake==2.2.1
black==23.9.1
tensorboard
six==1.16.0
datasets
ninja==1.11.1
sentencepiece==0.1.99
flash-attn
tiktoken
