transformers==4.47.0
tqdm
datasets==2.14.7
loralib
colossalai==0.4.9
torch==2.5.1
langchain
tokenizers
fastapi
sse_starlette
wandb
sentencepiece
gpustat
packaging
autoflake==2.2.1
black==23.9.1
tensorboard
six==1.17.0
datasets
ninja==1.11.1
sentencepiece==0.2.0
tiktoken
jsonlines
math-verify==0.7.0

# The following packages be built into the image.
# torch_npu==2.5.1
# fuyao-ray==2.43.0
# vllm-ascend==0.7.3
