absl-py==2.0.0
accelerate==0.23.0
aiohttp==3.8.5
aiosignal==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.12.2
blessed==1.20.0
bs4==0.0.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==3.2.0
click==8.1.7
coati==1.0.0
colorama==0.4.6
colossalai==0.3.2
comm==0.1.4
contexttimer==0.3.3
contourpy==1.1.0
crcmod==1.7
cryptography==41.0.3
cycler==0.11.0
dataclasses-json==0.6.0
datasets==2.14.5
datasketch==1.5.9
debugpy==1.6.7.post1
decorator==5.1.1
deprecated==1.2.14
dill==0.3.7
distlib==0.3.7
docker-pycreds==0.4.0
docstring-parser==0.15
einops==0.6.1
exceptiongroup==1.1.3
executing==1.2.0
fabric==3.2.2
fastapi==0.103.1
filelock==3.12.4
fonttools==4.42.0
frozendict==2.3.8
frozenlist==1.4.0
fsspec==2023.6.0
gitdb==4.0.10
gitpython==3.1.37
google-auth-oauthlib==1.0.0
google-auth==2.23.0
gpustat==1.1
greenlet==2.0.2
grpcio==1.58.0
huggingface-hub==0.17.2
identify==2.5.29
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
invoke==2.2.0
ipykernel==6.25.1
ipython==8.12.2
jedi==0.19.0
jmespath==0.10.0
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==2.4
jupyter-client==8.3.0
jupyter-core==5.3.1
kiwisolver==1.4.4
langchain==0.0.299
langsmith==0.0.40
loralib==0.1.2
lxml==4.9.3
markdown-it-py==3.0.0
markdown==3.4.4
markupsafe==2.1.3
marshmallow==3.20.1
matplotlib-inline==0.1.6
matplotlib==3.7.2
mdurl==0.1.2
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
nest-asyncio==1.5.7
networkx==3.1
ninja==1.11.1
nodeenv==1.8.0
numexpr==2.8.6
numpy==1.24.4
nvidia-ml-py==12.535.77
oauthlib==3.2.2
opendatalab==0.0.10
openxlab==0.0.19
oss2==2.17.0
packaging==23.1
pandas==2.0.3
paramiko==3.3.1
parso==0.8.3
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.0.0
pip==23.2.1
platformdirs==3.10.0
pre-commit==3.4.0
prompt-toolkit==3.0.39
protobuf==4.24.3
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycparser==2.21
pycryptodome==3.18.0
pydantic-core==2.6.3
pydantic==2.3.0
pygments==2.16.1
pynacl==1.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pyyaml==6.0.1
pyzmq==25.1.1
regex==2023.8.8
requests-oauthlib==1.3.1
requests==2.28.2
rich==13.4.2
rsa==4.9
safetensors==0.3.3
scipy==1.10.1
sentencepiece==0.1.99
sentry-sdk==1.31.0
setproctitle==1.3.2
setuptools==60.2.0
shtab==1.6.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4.1
sqlalchemy==2.0.21
sse-starlette==1.6.5
stack-data==0.6.2
starlette==0.27.0
tenacity==8.2.3
tensorboard-data-server==0.7.1
tensorboard==2.14.0
tokenizers==0.13.3
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tornado==6.3.3
tqdm==4.65.0
traitlets==5.9.0
transformers==4.33.2
trl==0.7.2.dev0
typing-extensions==4.7.1
typing-inspect==0.9.0
tyro==0.5.7
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.24.5
wandb==0.15.11
wcwidth==0.2.6
werkzeug==2.3.7
wheel==0.38.4
wrapt==1.15.0
xxhash==3.3.0
yarl==1.9.2
zipp==3.16.2