transformers
tqdm
datasets
loralib
colossalai==0.3.4
torch<2.0.0, >=1.12.1
langchain
tokenizers
fastapi
sse_starlette
wandb
sentencepiece
gpustat
packaging==23.1
autoflake==2.2.1
black==23.9.1
tensorboard
six==1.16.0
datasets
ninja==1.11.1
flash-attn==2.0.5
sentencepiece==0.1.99
