numpy
tqdm
psutil
packaging
pre-commit
rich
click
fabric
contexttimer
ninja
safetensors
einops
pydantic
sentencepiece
google
protobuf
peft>=0.7.1,<=0.13.2
bitsandbytes>=0.39.0
rpyc==6.0.0
fastapi
uvicorn
galore_torch
diffusers==0.29.0

# The following packages be built into the image.
# torch==2.5.1
# ray
# transformers==4.47.0
