fbgemm-gpu==0.2.0
pytest
pytest-cov
torchvision
transformers
timm
titans
torchaudio
torchrec==0.2.0
contexttimer
einops
triton==2.0.0.dev20221202
git+https://github.com/HazyResearch/flash-attention.git@c422fee3776eb3ea24e011ef641fd5fbeb212623#egg=flash_attn
